body {
  background: #111213;
  font-family: sans-serif;
}

a, span, #fake{
  color: #4ad;
  text-decoration: underline;
}

#secret, #shittyCss {
  display: none;
  color: #f79;
}

#shittyCss {
  visibility: hidden;
}

#archive {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

audio {
  width: 100%;
}
