body {
  background: #111111;
  color: #facade;
  font-family: sans-serif;
  box-sizing: border-box;
}

a, #fake {
  color: #4499ff;
  text-decoration: underline;
  text-align: center;
}

#secret {
  color: #f79;
  visibility: hidden;
}

#bad-css {
  visibility: hidden;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
